ion-content {
  --padding-top: 20px;
  --padding-start: 20px;
  --padding-end: 20px;
}
.logo {
  height: 20px;
  padding-left: 20px;
}
ion-item {
  margin-bottom: 16px;
}
.labelSec {
  width: 60px;
}
ion-fab-button {
  --background: #b7f399;
  --background-activated: #87d361;
  --background-hover: #a3e681;
  --border-radius: 15px;
  --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --color: black;
}
ion-fab {
  bottom: 24px;
}
